<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>TechSells / Iphone</title>
</head>
<body>
    <div class="col-interna">
        <img src="./assets/huawei1.jpeg" alt="Iphone" style="width: 40%;">
        <div style="padding-top: 50px;">
            <p class="texto">Huawei</p>
            <p class="titulo-producto-interna"> Celular Huawei Y91 | Pantalla 6.9 Pulgadas | Memoria 256 GB | Camara 8 MP</p>
            <div class="calificacion">
                <p> 4.8</p> │ <p> Calificar</p>
            </div>
            <p> Vendido por Ktronix</p>
            <div class="especificaciones" >
                <p style="font-weight: bold;">Especificaciones principales:</p>
                <p>
                    <ul>
                        <li>
                            Capacidad de almacenamiento: 256GB
                        </li>
                        <li>
                            Conectividad: 3G/4G
                        </li>
                        <li>
                            Marca y modelo del procesador: Qualcomm Snapdragon 680G
                        </li>
                        <li>
                            Sistema operativo: De fabricante
                        </li>
                        <li>
                            Memoria RAM: 8GB
                        </li>
                    </ul>
            </div>
        </div>
    </div>

    <div class="contenido-huawei">
        <p>¿Necesitas ayuda? Llámanos al <span style="font-weight: bold;">6015345532</span></p>
        <div class="precio">
            <p class="precio-1-huawei">$ 1.599.900</p>
            <p class="precio-2-huawei">$ 999.000</p>
            <button class="boton-huawei">AGREGAR AL CARRITO</button>
        </div>
    </div>

    <div class="col-interna-2">
        <div >
            <h4>Especificaciones</h4>
            <p class="espec-huawei"></p>
            <table>
                <tbody>
                    <tr>
                        <td class="titulo-espc">
                            Capacidad de almacenamiento
                        </td>
                        <td>
                            256GB
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Conectividad
                        </td>
                        <td>
                            3G/4G
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Marca y modelo del procesador
                        </td>
                        <td>
                          Qualcomm Snapdragon 680G
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Sistema operativo
                        </td>
                        <td>
                            De fabricante
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Sistema operativo
                        </td>
                        <td>
                            De fabricante
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Memoria RAM
                        </td>
                        <td>
                            8GB
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Cámara posterior
                        </td>
                        <td>
                            50 MP
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Carga rápida
                        </td>
                        <td>
                            Sí
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Cámara frontal
                        </td>
                        <td>
                            8 MP
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Flash frontal
                        </td>
                        <td>
                            Sí
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Memoria externa incluida
                        </td>
                        <td>
                            No
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Tamaño de la pantalla
                        </td>
                        <td>
                            6.9 pulgadas
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Lector de huella
                        </td>
                        <td>
                            Sí
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            GPS integrado
                        </td>
                        <td>
                            Sí
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Resistente al agua
                        </td>
                        <td>
                          IPX0 (Sin protección especial)
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Dual SIM
                        </td>
                        <td>
                            Sí
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Tipo
                        </td>
                        <td>
                            Smartphones
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Alto
                        </td>
                        <td>
                           17.9 cm
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Ancho
                        </td>
                        <td>
                            7.1 cm
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Profundidad
                        </td>
                        <td>
                            0.89 cm
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Peso del producto
                        </td>
                        <td>
                            0.214 kg
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Accesorios que incluye
                        </td>
                        <td>
                            Cable de Lightning a USB-C
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Garantía del proveedor
                        </td>
                        <td>
                            1 año
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Hecho en
                        </td>
                        <td>
                            China
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Condicion del producto
                        </td>
                        <td>
                            Nuevo
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Memoria interna
                        </td>
                        <td>
                            256GB
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</body>
</html>
