.samsung{
    text-align: center; 
    background-color: black; 
    color: white;
    padding: 50px;
}
.samsung-image{
    width: 40rem;
}

.samsung-2{
    text-align: center; 
    padding: 50px;
}
.samsung-image-2{
    width: 40rem;
}