<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>TechSells / Iphone</title>
</head>
<body>
    <div class="col-interna">
        <img src="./assets/69514525_1.avif" alt="Iphone" style="width: 40%;">
        <div style="padding-top: 50px;">
            <p class="texto">REALME</p>
            <p class="titulo-producto-interna"> Celular Realme C53 128gb 6gb Ram Dual Sim Dorado</p>
            <div class="calificacion">
                <p> 0.0</p> │ <p> Calificar</p>
            </div>
            <p> Vendido por E-Brands
                </p>
            <div class="especificaciones" >
                <p style="font-weight: bold;">Especificaciones principales:</p>
                <p>
                    <ul>
                        <li>
                            Generacion: 4GB
                        </li>
                        <li>
                            Memoria ram: 6GB
                        </li>
                        <li>
                            procesador: Mediatek
                        </li>
                        <li>
                            sistema_operativo: Android
                        </li>
                    </ul>
            </div>
        </div>
    </div>
    
    <div class="contenido-iphone">
        <p>¿Necesitas ayuda? Llámanos al <span style="font-weight: bold;">6015345532</span></p>
        <div class="precio">
            <p class="precio-1-iphone">$ 569.900</p>
            <p class="precio-2-iphone">$ 549.900</p>   
            <button class="boton-iphone">AGREGAR AL CARRITO</button>
        </div>
    </div>

    <div class="col-interna-2">
        <div >
            <h4>Especificaciones</h4>
            <p class="espec-iphone"></p>
            <table>
                <tbody>
                    <tr>
                        <td class="titulo-espc">
                            Tamaño de la pantalla
                        </td>
                        <td>
                            17
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Detalle de la garantía
                        </td>
                        <td>
                            12 meses
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Sello SEC
                        </td>
                        <td>
                            TM-23-0317
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Condición del producto
                        </td>
                        <td>
                            Nuevo
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Procesador
                        </td>
                        <td>
                            Procesador
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            País de origen
                        </td>
                        <td>
                            Estados Unidos
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Sistema operativo
                        </td>
                        <td>
                            Android
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Modelo
                        </td>
                        <td>
                            C53 Dorado
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Detalle de la condición
                        </td>
                        <td>
                            Producto Nuevo en perfecto estado
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Conectividad
                        </td>
                        <td>
                            4G
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Proveedor de servicio/compañía
                        </td>
                        <td>
                            Libre de fábrica
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Velocidad de procesamiento (GHz)
                        </td>
                        <td>
                            2
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Incluye cargador
                        </td>
                        <td>
                            Sí
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Incluye
                        </td>
                        <td>
                            <ul>
                                <li>
                                    Realme C53 
                                </li>
                                <li>
                                    Cable USB tipo C 
                                </li>
                                <li>
                                    Adaptador de alimentación de 11 V/3 A 
                                </li>
                                <li>
                                    Funda protectora 
                                </li>
                                <li>
                                    Aguja para tarjeta SIM 
                                </li>
                                <li>
                                    Guía rápida 
                                </li>
                                <li>
                                    Folleto de información importante
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Memoria RAM
                        </td>
                        <td>
                            6GB
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Capacidad de la batería (en mAh)
                        </td>
                        <td>
                            5000
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Garantía
                        </td>
                        <td>
                            1 año
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Condiciones de la Garantía del Vendedor
                        </td>
                        <td>
                            Garantía de 12 meses por defectos de fábrica
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Capacidad de almacenamiento
                        </td>
                        <td>
                            128GB
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Ranura para SIM
                        </td>
                        <td>
                            Double SIM
                        </td>
                    </tr>
                    <tr>
                        <td class="titulo-espc">
                            Cámara posterior
                        </td>
                        <td>
                            8 MP
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div >
            <h4>Información adicional</h4>
            <p class="espec-iphone"></p>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <h6>Realme C53:</h6>
                            Smartphone potente con pantalla de 90 Hz, cámara de 50 MP, batería de 5000 mAh y carga rápida. Rendimiento excepcional en un diseño delgado y elegante.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h6>Ficha técnica</h6>
                            <li>
                                Conjunto de Chips: Potente conjunto de chips de ocho núcleos
                            </li>
                            <li>
                                Almacenamiento y RAM: RAM: 6GB LPDDR4X, ROM: 128 GB
                            </li>
                            <li>
                                Memoria externa de hasta 2 TB
                            </li>
                            <li>
                                Pantalla: Pantalla de 17,13 cm (6,74") y 90 Hz
                            </li>
                            <li>
                                Relación pantalla-cuerpo: 90,3%
                            </li>
                            <li>
                                Brillo máximo: 560 nits
                            </li>
                            <li>
                                Velocidad de muestreo táctil: 180 Hz
                            </li>
                            <li>
                                Colores de pantalla: 16,7 M
                            </li>
                            <li>
                                Cámara: Cámara de 50 MP con IA
                            </li>
                            <li>
                                Funciones de fotografía: Modo de 50 MP, Vídeo, Modo nocturno, Vista panorámica, Experto, Intervalo de tiempo, Modo retrato, HDR, Reconocimiento de escena con IA, Filtro, Cámara lenta
                            </li>
                            <li>
                                Grabación de vídeo: Compatible con grabación de vídeo de 1080p/30 fps, 720p/30 fps, 480p/30 fps
                            </li>
                            <li>
                                Cámara frontal de 8 MP con IA
                            </li>
                            <li>
                                Funciones de fotografía: Vídeo, Modo retrato, Modo belleza, HDR, Reconocimiento facial, Filtro, Control de efecto Bokeh
                            </li>
                            <li>
                                Grabación de vídeo: Compatible con grabación de vídeo de 720p/30 fps, 480p/30 fps
                            </li>
                            <li>
                                Carga y Batería: Carga SUPERVOOC de 33 W, Gran batería de 5000 mAh (típ.)
                            </li>
                            <li>
                                Conexión Móvil e Inalámbrica: 2 ranuras para tarjetas nano + 1 micro-SD
                            </li>
                            <li>
                                Conexión inalámbrica: 2,4/5 GHz, Bluetooth 5.0
                            </li>
                            <li>
                                Tamaño: 167,3mm x 76,7 mm x 7,49 mm
                            </li>
                            <li>
                                Peso: 182 g
                            </li>
                            <li>
                                Sensores: Sensor de inducción magnética, Sensor de luz, Sensor de proximidad, Sensor de medidor giroscópico, Sensor de aceleración
                            </li>
                            <li>
                                Navegación: GPS/AGPS / GLONASS / GALILEO
                            </li>
                            <li>
                                Puertos: Conector de auriculares de 3,5 mm, Tipo C, Ranura para 3 tarjetas
                            </li>
                            <li>
                                Sistema Operativo: Realme UI T Edition, Basado en Android 13
                            </li>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</body>
</html>