
<div class="crud-div">

    <div class="input-agregar">
      <h5>Ingresa un nuevo producto</h5>
        <input type="text" placeholder="ID">
        <input type="text" placeholder="Nombre del producto">
        <input type="text" placeholder="Marca">
        <input type="text" placeholder="Almacen">
        <button class="boton-crear" (click)="nuevoElemento()">Crear</button>
    </div>
    <table class="table-crud">
        <thead class="thead">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre - Producto</th>
            <th scope="col">Marca</th>
            <th scope="col">Almacen</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td><button class="boton-editar" routerLink="/crud/editar" (click)="elementoAEditar()">Editar</button> <button class="boton-borrar" >Eliminar</button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>

            <td><button class="boton-editar" routerLink="/crud/editar">Editar</button> <button class="boton-borrar" >Eliminar</button></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>twitter</td>
            <td><button class="boton-editar" routerLink="/crud/editar">Editar</button> <button class="boton-borrar" >Eliminar</button></td>
          </tr>
        </tbody>
      </table>

</div>

